@{ Layout = "~/Views/Shared/_InternalPageLayout.cshtml";
    ViewBag.Title = "Natalie Macellaio | Bulge";
}
<section class="page-section" id="bluge">
    <div class="container">        
        <div class="row">
            <article class="col-md-12 showcase-single-content white-bg">
                <div class="row">
                    <article class="col-md-8 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <p class="font5"><span class="color-bg black ">Bulge</span></p>
                                <h2 class="black add-top-quarter"><span>bulge</span></h2>
                                <h5 class="font3 black">2007</h5>
                                <h4 class="font5 dark">Resin and Metal</h4>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <h3 class="sub-heading">This is the Story</h3>
                                <p class="dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl diam, laoreet quis eros ac, placerat tincidunt neque. Vivamus molestie, nisl eu accumsan elementum, libero neque aliquam nibh, in venenatis velit velit eget nunc. Aliquam non venenatis justo, vitae feugiat urna. Morbi et tempor purus.</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Bulge - copper, resin 12x50x3" class="img-responsive custom-overlay-6" src="images/bulge/bulge-01.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Bulge -copper, resin 12x50x3</h3>
                        </div>
                    </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Bulge-detail" class="img-responsive custom-overlay-6" src="images/bulge/bulge-02.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Bulge -detail</h3>
                        </div>
                    </article>
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Bulge-crawl" class="img-responsive custom-overlay-6" src="images/bulge/bulge-03.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Bulge -crawl</h3>
                        </div>
                    </article>
                    </div>
            </article>
        </div>
    </div>
</section>



