@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Natalie Macellaio | Construction";
}
<div class="mastwrap">
    <section class="page-section" id="construction">
        <div class="container">

            <div class="row">
                <article class="col-md-12 showcase-single-content white-bg">
                    <div class="row">
                        <article class="col-md-6 text-left showcase-single-item-wrap white-bg">
                            <div class="showcase-single-item">
                                <div class="showcase-single-item-inner text-left">
                                    <p><span>New Work</span></p>
                                    <h1 class="font1 color add-top-quarter"><span>CONSTRUCTION SERIES</span></h1>
                                    <h5 class="font2 black">2018</h5>
                                    <h4 class="font1 color">concrete, alunimum and metal</h4>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-6 text-left showcase-single-item-wrap white-bg">
                            <div class="showcase-single-item">
                                <div class="showcase-single-item-inner text-left">
                                    <h3 class="sub-heading">ARTIST STATEMENT</h3>
                                    <p class="dark">This body of work is a reflection of the urban landscape I live in. The constant destruction and reconstruction of the physical world has made seeing safety fences, cinder blocks, and rebar grids common place but always from the seat of a car. I rescale and change the perspective of these objects to reframe their context, turning a 1 ton construction wall into a brooch, an orange safety fence into a wall sculpture, a 40 foot rebar and concrete trestle into fine jewelry. Silver, copper, concrete and steel are implemented to create these intimate and detailed structures.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="row">
                        <article class="col-md-6 showcase-thumb-strip">
                            <img alt="Natalie Macellaio - Grid" class="img-responsive" src="../images/construct/construct-01.jpg" />
                            <div class="showcase-thumb-strip-inner">
                                <h3 class="black">Grid <span class="small">Copper, Concrete 3"x3"x.5" 2016</span></h3> 
                            </div>
                        </article>
                        <article class="col-md-6 showcase-thumb-strip">
                            <img alt="Natalie Macellaio -Rebar in Wall -Brooch" class="img-responsive" src="../images/construct/construct-05.jpg" />
                            <div class="showcase-thumb-strip-inner">
                                <h3 class="black">Broken Wall Brooch <span class="small">Concrete, Copper 2"x3.5"x.25" 2016</span></h3>
                            </div>
                        </article>
                                              
                    </div>  
                    <div class="row">
                        <article class="col-md-6 showcase-thumb-strip">
                            <img alt="Natalie Macellaio -Orange Fence -steel 2" class="img-responsive" src="../images/construct/construct-03.jpg" />
                            <div class="showcase-thumb-strip-inner">
                                <h3 class="black">Orange Fence <span class="small">Steel, Paint 14"x20"x.5" 2017</span></h3>
                            </div>
                        </article>
                        <article class="col-md-6 showcase-thumb-strip">
                            <img alt="Natalie Macellaio -Orange Fence -detail" class="img-responsive" src="../images/construct/construct-02.jpg" />
                            <div class="showcase-thumb-strip-inner">
                                <h3 class="black">Orange Fence <span class="small">detail </span></h3>
                            </div>
                        </article>
                        
                        
                    </div>
                    <div class="row">
                        <article class="col-md-6 showcase-thumb-strip">
                            <img alt="Natalie Macellaio -Building Block Crunch" class="img-responsive" src="../images/construct/construct-06.jpg" />
                            <div class="showcase-thumb-strip-inner">
                                <h3 class="black">Building Blocks <span class="small">Concrete, Sterling Silver, Copper 24"x6"x.25" 2016</span></h3>
                            </div>
                        </article>
                        <article class="col-md-6 showcase-thumb-strip">
                            <img alt="Natalie Macellaio -Building Block -side" class="img-responsive" src="../images/construct/construct-04.jpg" />
                            <div class="showcase-thumb-strip-inner">
                                <h3 class="black">Building Block -side</h3>
                            </div>
                        </article>
                        
                    </div>
                    <div class="row">
                        
                        <article class="col-md-6 showcase-thumb-strip">
                            <img alt="Natalie Macellaio - Crumbled Rebar 2" class="img-responsive" src="../images/construct/construct-07.jpg" />
                            <div class="showcase-thumb-strip-inner">
                                <h3 class="black">Crumbled Rebar <span class="small">Copper, Concrete 2.5"x.25"x.25" 2016</span></h3>
                            </div>
                        </article>
                        <article class="col-md-6 showcase-thumb-strip">
                            <img alt="Natalie Macellaio - Silver Pallet -detail" class="img-responsive" src="../images/construct/construct-10.jpg" />
                            <div class="showcase-thumb-strip-inner">
                                <h3 class="black">Silver Pallet -detail</h3>
                            </div>
                        </article>
                    </div> 
                    <div class="row">
                        <article class="col-md-6 showcase-thumb-strip">
                            <img alt="Natalie Macellaio -Orange Fence with Silver Bar" class="img-responsive" src="../images/construct/construct-08.jpg" />
                            <div class="showcase-thumb-strip-inner">
                                <h3 class="black">Wrapped Orange Fence <span class="small">Copper, Sterling Silver, Powder Coat 2"x.5"x.5" 2017</span></h3>
                            </div>
                        </article>
                        <article class="col-md-6 showcase-thumb-strip">
                            <img alt="Natalie Macellaio - Column" class="img-responsive" src="../images/construct/construct-09.jpg" />
                            <div class="showcase-thumb-strip-inner">
                                <h3 class="black">Column <span class="small">Sterling Silver, Copper, Brass 24"x6"x.25" 2017</span></h3>
                            </div>
                        </article>
                    </div>
                    <div class="row">
                        <article class="col-md-6 showcase-thumb-strip">
                            <img alt="Natalie Macellaio -Safety Fence -Orange" class="img-responsive" src="../images/construct/construct-11.jpg" />
                            <div class="showcase-thumb-strip-inner">
                                <h3 class="black">Safety Fence - Orange <span class="small">Copper, Sterling Silver, Steel, Powder Coat 2.5"x2"x.5" 2018</span></h3>
                            </div>
                        </article>
                        <article class="col-md-6 showcase-thumb-strip">
                            <img alt="Natalie Macellaio - Column" class="img-responsive" src="../images/construct/construct-12.jpg" />
                            <div class="showcase-thumb-strip-inner">
                                <h3 class="black">Safety Fence - Grey <span class="small">Copper, Sterling Silver, Steel, Powder Coat 2.5"x2"x.5" 2018</span></h3>
                            </div>
                        </article>
                    </div>
                    <div class="row">
                        <article class="col-md-6 showcase-thumb-strip">
                            <img alt="Natalie Macellaio -Construction Cluster 4" class="img-responsive" src="../images/construct/construct-13.jpg" />
                            <div class="showcase-thumb-strip-inner">
                                <h3 class="black">Construction Cluster 4 <span class="small">Sterling Silver, Copper, Bronze, Steel 3"x3"x.5" 2018</span></h3>
                            </div>
                        </article>
                        <article class="col-md-6 showcase-thumb-strip">
                            <img alt="Natalie Macellaio - Construction Cluster 1" class="img-responsive" src="../images/construct/construct-14.jpg" />
                            <div class="showcase-thumb-strip-inner">
                                <h3 class="black">Construction Cluster 1 <span class="small">Copper, Sterling Silver, Steel 2"x2"x.5" 2018</span></h3>
                            </div>
                        </article>
                    </div>
                    <div class="row">
                        <article class="col-md-6 showcase-thumb-strip">
                            <img alt="Natalie Macellaio -Cinder Block Earrings" class="img-responsive" src="../images/construct/construct-15.jpg" />
                            <div class="showcase-thumb-strip-inner">
                                <h3 class="black">Cinder Block Earrings <span class="small">Sterling Silver .5"x.5"x.2" 2018</span></h3>
                            </div>
                        </article>
                        <article class="col-md-6 showcase-thumb-strip">
                            <img alt="Natalie Macellaio - Orange Fence Silver Necklace" class="img-responsive" src="../images/construct/construct-16.jpg" />
                            <div class="showcase-thumb-strip-inner">
                                <h3 class="black">Orange Fence Silver Necklace <span class="small">Silver .5"x 1.5"x .16" 2018</span></h3>
                            </div>
                        </article>
                    </div>
                </article>
            </div>
        </div>
    </section>
</div>
