@{  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewBag.Title = "Natalie Macellaio | Artist";
}
<section class="intro-02-wrap page-section" id="home">
    <div class="container-fluid">
        <div class="row">
            <div id="works-container" class="works-container white-bg clearfix">
                <div class="works-item works-item-one-third zoom">
                    <img alt="scribbles collection" class="img-responsive" src="~/images/scribbles/scrib-01.jpg" />
                    <a class="venobox" data-gall="portfolio-gallery" data-type="iframe" href="~/Scribbles">
                        <div class="works-item-inner valign">
                            <h3 class="black">New Work</h3>
                            <p class="white"><span class="black-bg">METAL BROOCHES</span></p>
                        </div>
                    </a>
                </div>
                <div class="works-item works-item-one-third zoom">
                    <img alt="kids rings collection" class="img-responsive" src="~/images/kidsrings/kring-01.jpg" />
                    <a class="venobox" data-gall="portfolio-gallery" data-type="iframe" href="~/Kids-Rings">
                        <div class="works-item-inner valign">
                            <h3 class="black">New Work</h3>
                            <p class="white"><span class="black-bg">INTERACTIVE RINGS</span></p>
                        </div>
                    </a>
                </div>
                <div class="works-item works-item-one-third zoom">
                    <img alt="Natalie Macellaio" class="img-responsive" src="~/images/about/nat-name.jpg" />
                    <a href="#about">
                        <div class="works-item-inner valign">
                            <h3 class="black">About</h3>
                            <p class="white"><span class="black-bg">THE ARTIST</span></p>
                        </div>
                    </a>
                </div>
                <div class="works-item works-item-one-third zoom">
                    <img alt="Collaborations" class="img-responsive" src="~/images/motherload/motherload-02.jpg" />
                    <a class="venobox" data-gall="portfolio-gallery" data-type="iframe" data-slide-index="#motherload" href="~/The-Mother-Load-Project">
                        <div class="works-item-inner valign">
                            <h3 class="black">Collaborations</h3>
                            <p class="white"><span class="black-bg">THE MOTHER LOAD PROJECT</span></p>
                        </div>
                    </a>
                </div>
                <div class="works-item works-item-one-third zoom">
                    <img alt="piercing pieces" class="img-responsive" src="~/images/piercing/piercing-01.jpg" />
                    <a class="venobox" data-gall="portfolio-gallery" data-type="iframe" href="~/Piercing-Pieces">
                        <div class="works-item-inner valign">
                            <h3 class="black">WALL INSTALLATION</h3>
                            <p class="white"><span class="black-bg">A MEMORY</span></p>
                        </div>
                    </a>
                </div>              
                <div class="works-item works-item-one-third zoom">
                    <img alt="Resin and Metal - Resin balls" class="img-responsive" src="~/images/resinballs/resinballs-01.jpg" />
                    <a class="venobox" data-gall="portfolio-gallery" data-type="iframe" href="~/Resin-Balls">
                        <div class="works-item-inner valign">
                            <h3 class="black">Resin and Metal</h3>
                            <p class="white"><span class="black-bg">B.S., RED DOT, SWARM</span></p>
                        </div>
                    </a>
                </div>
                <div class="works-item works-item-one-third zoom">
                    <img alt="Resin Pushing Metal" class="img-responsive" src="~/images/crack/crack-01.jpg" />
                    <a class="venobox" data-gall="portfolio-gallery" data-type="iframe" href="~/Bump">
                        <div class="works-item-inner valign">
                            <h3 class="black">Resin Pushing Metal</h3>
                            <p class="white"><span class="black-bg">BUMP - BULGE - BOILING OVER - ROACH STUDY</span></p>
                        </div>
                    </a>
                </div>
                <div class="works-item works-item-one-third zoom">
                    <img alt="Occupancy Installation" class="img-responsive" src="~/images/occupy/occupancy-04.jpg" />
                    <a class="venobox" data-gall="portfolio-gallery" data-type="iframe" href="~/Occupancy">
                        <div class="works-item-inner valign">
                            <h3 class="black">Occupancy</h3>
                            <p class="white"><span class="black-bg">OCCUPANCY AND COMBAT</span></p>
                        </div>
                    </a>
                </div>
                <div class="works-item works-item-one-third zoom">
                    <img alt="shifting metal" class="img-responsive" src="~/images/cracks/cracks-01.jpg" />
                    <a class="venobox" data-gall="portfolio-gallery" data-type="iframe" href="~/Shifting">
                        <div class="works-item-inner valign">
                            <h3 class="black">shifting</h3>
                            <p class="white"><span class="black-bg">SHIFTING EXHIBIT</span></p>
                        </div>
                    </a>
                </div>
                <div class="works-item works-item-one-third zoom">
                    <img alt="evolve" class="img-responsive" src="~/images/combat/combat-04.jpg" />
                    <a class="venobox" data-gall="portfolio-gallery" data-type="iframe" href="~/Combat">
                        <div class="works-item-inner valign">
                            <h3 class="black">COMBAT</h3>
                            <p class="white"><span class="black-bg">EVERY CITY - EVOLVE - APT710 - WALKING LIGHT</span></p>
                        </div>
                    </a>
                </div>
                <div class="works-item works-item-one-third zoom">
                    <img alt="evolve" class="img-responsive" src="~/images/metalpods/metalpod-01.jpg" />
                    <a class="venobox" data-gall="portfolio-gallery" data-type="iframe" href="~/Metal-Pods">
                        <div class="works-item-inner valign">
                            <h3 class="black">METAL PODS</h3>
                            <p class="white"><span class="black-bg">METAL PODS EXHIBIT</span></p>
                        </div>
                    </a>
                </div>
                <div class="works-item works-item-one-third zoom">
                    <img alt="Collaborations" class="img-responsive" src="~/images/wannabe/wannabe-01.jpg" />
                    <a class="venobox" data-gall="portfolio-gallery" data-type="iframe" data-slide-index="#wannabe" href="~/Wannabe">
                        <div class="works-item-inner valign">
                            <h3 class="black">Collaborations</h3>
                            <p class="white"><span class="black-bg">WANNABE</span></p>
                        </div>
                    </a>
                </div>
                <div class="works-item works-item-one-third zoom">
                    <img alt="Collaborations" class="img-responsive" src="~/images/petite/petite-01.jpg" />
                    <a class="venobox" data-gall="portfolio-gallery" data-type="iframe" data-slide-index="#petite" href="~/Petite-Show">
                        <div class="works-item-inner valign">
                            <h3 class="black">Collaborations</h3>
                            <p class="white"><span class="black-bg">petite show</span></p>
                        </div>
                    </a>
                </div>
                <div class="works-item works-item-one-third zoom">
                    <img alt="Collaborations" class="img-responsive" src="~/images/merger/merger-01.jpg" />
                    <a class="venobox" data-gall="portfolio-gallery" data-type="iframe" data-slide-index="#merger" href="~/The-Merger">
                        <div class="works-item-inner valign">
                            <h3 class="black">Collaborations</h3>
                            <p class="white"><span class="black-bg">THE MERGER</span></p>
                        </div>
                    </a>
                </div>
                <div class="works-item works-item-one-third zoom">
                    <img alt="Collaborations" class="img-responsive" src="~/images/trestle/trestle-01.jpg" />
                    <a class="venobox" data-gall="portfolio-gallery" data-type="iframe" data-slide-index="#trestle" href="~/Trestle-Designs">
                        <div class="works-item-inner valign">
                            <h3 class="black">Collaborations</h3>
                            <p class="white"><span class="black-bg">TRESTLE DESIGNS</span></p>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>
<hr />
<section class="page-section" id="about">
    <div class="container">
        <div class="row">
            <article class="col-md-6 about-content-split text-center common-pad softwhite-bg">
                <div class="valign nat-name">
                    <img class="img-responsive" src="~/images/about/nm-profile.jpg" />
                    <h1 class="font1 color promo-caps"><span>NATALIE MACELLAIO</span></h1>
                    
                </div>
            </article>
            <article class="col-md-6 about-content-split text-left common-pad white-bg">
                <h3 class="sub-heading font2 black">Artist Statement</h3>
                <p class="dark">
                    My work marries a functional, aesthetic, and conceptual approach to metal. She
                    works with concepts of adornment to create works that use the body to engage in
                    conversations that draw directly from her personal life.
                </p><p>
                    “I was trained as a jeweler years ago, which brought me to understand the intricacies
                    of creating work that is personal to each person wearing it and expresses parts of their
                    life. The choice to work with precious metals has been because of their inherent
                    strengths and weaknesses. I value silver, both for its culturally relevant quality and for
                    its beauty. I employ copper for its strength and abundance. I am, after all, interested in
                    creating something beautiful and desirable. As I continue to explore these personal
                    narratives through these metals, themes that relate to my life as a mother begin to
                    come through. My initial interest in small, intimate works, is finding a new source of
                    expression that allows me to create intimate pieces that explore the relationships I have
                    to my children.”
                </p>
           <!--     <p>Many years ago, I became interested in the relationship and similarities between humans and the things that humans perceive as being infectious.  Influenced by a nasty roach infestation in an ill-advised apartment choice, I was first horrified, then fascinated by the resilience of these creatures.  It occurred to me that these creatures share a tenacity for survival and structure.  This influenced a body of work that has remained at the core of my practice.
                    Extrapolating human culture on a macro scale, it seemed to me that absent of human emotions and inflection, our own culture exists as a sort of infestation.  Over a long enough time span, our building, tearing down, and rebuilding creates a history...a carcass that can be just as interesting as the culture behind it...as is the case with roaches.  So, in this vein, I decided to look deeper into this history.
                    With that, it seemed that the only real individuality was in the flaws.  Cracks...the most basic of flaws, have their own depth, length and integrity.  At the heart of it, the cracks are all that is unique.  Cracks show age.  They can hint at stress points and loose narratives.  They can give clues to lapses in craftsmanship and structural integrity.  They, in essence, are the story.
                </p>
                <p>I have chosen to work with precious metals because of their innate strengths and weaknesses.  I value silver, both for its culturally relevant quality, and for its beauty.  I employ copper for its strength and abundance.  I am, after all, interested in creating something beautiful and desirable.  I have meticulously created “flaws” in these materials.  I use the perception of beauty and strength to juxtapose these “flaws” and make them more apparent and salient.
                </p>
                <p>While the cracks in the concrete on the street or in my apartment or on a tombstone are the source of inspiration, I am hoping that by bringing them deliberately to the fore by “crafting the crack”, I am making a statement about the most overlooked source of beauty in humanity...our flaws.
                </p>-->

                <h3 class="sub-heading font2 black add-top-half">Biography and Curriculum Vita (C.V.)</h3>
                <ul class="profile-list h4">
                    <li>
                        <a href="~/images/about/Natalie Macellaio CV  5-15.pdf" target="_blank">View - Biography and Exhibits</a>
                    </li>
                    <li>
                        <a href="~/images/about/Natalie Macellaio CV  5-15.pdf"
                           download="Natalie Macellaio Biography and CV">Download - Biography and Exhibits</a>
                    </li>
                </ul>
            </article>
        </div>

          <div class="row">
              <article class="col-xs-6 col-sm-2 stats-block text-center">
                  <a href="~/Views/Home/TrestleDesigns.cshtml" target="_blank">
                      <img alt="Trestle Designs jewelry business card" class="img-responsive" src="~/images/trestle/trestle_bzcrd30front.png" />
                      <h6 class="sub-heading font1 color">Trestle Designs</h6>
                  </a>
              </article>
              <article class="col-xs-6 col-sm-2 stats-block text-center">
                  <a href="http://themotherload.org/" target="_blank">
                      <img alt="The Motherload Project - logo" class="img-responsive" src="~/images/motherload/motherload-logo.jpg" />
                      <h6 class="sub-heading font1 color">The Mother Load Project</h6>
                  </a>
              </article>
              <article class="col-xs-6 col-sm-2 stats-block text-center">
                  <a href="http://rickmaxwell.net" target="_blank">
                      <img class="img-responsive" alt="photo of links" src="~/images/links/links-01.jpg" />
                      <h6 class="sub-heading font1 color">Rick Maxwell</h6>
                  </a>
              </article>
              <article class="col-xs-6 col-sm-2 stats-block text-center">
                  <a href="http://lisaehrich.com" target="_blank">
                      <img class="img-responsive" alt="photo of links" src="~/images/links/links-02.jpg" />
                      <h6 class="sub-heading font1 color">Lisa Ehrich</h6>
                  </a>
              </article>
            <article class="col-xs-6 col-sm-2 stats-block text-center">
                <a href="http://www.shannonmsullivan.com/" target="_blank">
                    <img class=" img-responsive" alt="photo of links" src="~/images/links/links-03.jpg" />
                    <h6 class="sub-heading font1 color">Shannon Sullivan</h6>
                </a>
            </article>
            <article class="col-xs-6 col-sm-2 stats-block text-center">
                <a href="http://www.leslirobertson.com/" target="_blank">
                    <img class=" img-responsive" alt="photo of links" src="~/images/links/links-04.jpg" />
                    <h6 class="sub-heading font1 color">Lesli Robertson</h6>
                </a>
            </article>
            
        </div> 
    </div>
</section>
<hr />
<!-- Contact Section -->
<section class="page-content" id="contact">
    <div class="container">
        <div class="row">
            <article class="col-md-6 contact-content-split text-left">
                <div class="contact-form-wrap">
                    <h3 class="sub-heading font2 white">Let's Connect</h3>
                    
                    
                    <form role="form" name="contactform" id="contactform" method="post" action="/Home/Contact">
                        <div class="input-text form-group">
                            <input type="text" id="FullName" name="FullName" class="input-name form-control" placeholder="Full Name" />
                            <input type="email" id="ContactEmail" name="ContactEmail" class="input-email form-control" placeholder="Email" />
                            <input type="text" id="ContactPhone" name="ContactPhone" class="input-phone form-control" placeholder="Phone" />
                        </div>
                        <div class="input-text form-group">
                            <textarea type="text" id="ContactMessage" name="ContactMessage" class="input-text form-control" maxlength="500" wrap="hard" placeholder="Message"></textarea>
                        </div>
                        <div class="input-text form-group">
                            <input type="submit" class="btn btn-default btn-block text-right" value="Submit" />
                        </div>
                    </form>
                </div>
            </article>
            <article class="col-md-6 contact-content-split text-center">
                <div class="add-top-half">
                    <h1 class="font1 color">Natalie Macellaio</h1>
                    <h3 class=""><a href="nataliemacellaio@gmail.com">nataliemacellaio@gmail.com</a></h3>
                    <ul class="social-wrap">
                        <li><a href="#"><img alt="" title="" src="" /></a></li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
</section>




