@{ Layout = "~/Views/Shared/_InternalPageLayout.cshtml";
    ViewBag.Title = "Natalie Macellaio | Interactive Rings";
}

<section class="page-section" id="kidsrings">
    <div class="container">
        <div class="main-logo-wrap last-page">
            <a href="~/home"> <img alt="Natalie Macellaio - Metal Artist, logo" title="home page" src="~/images/bxslider/prev.png" /></a>
        </div>
        <div class="row">
            <article class="col-md-12 showcase-single-content white-bg">
                <div class="row">
                    <article class="col-md-8 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <p><span>new work</span></p>
                                <h1 class="font1 color add-top-quarter"><span>interactive rings</span></h1>
                                <h5 class="font2 black">2014</h5>
                                <h4 class="font1 color">stering silver and mixed media</h4>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <h3 class="sub-heading">artist statement</h3>
                                <p class="dark"></p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Milo's Ring" class="img-responsive custom-overlay-6 " src="images/kidsrings/kring-01.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Milo's Ring</h3>
                        </div>
                    </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Milo's Ring Detail" class="img-responsive" src="images/kidsrings/kring-02.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Milo's Ring, Detail</h3>
                        </div>
                    </article>
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Fina's Ring" class="img-responsive" src="images/kidsrings/kring-03.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Fina's Ring</h3>
                        </div>
                     </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Fina's Ring Detail" class="img-responsive" src="images/kidsrings/kring-04.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Fina's Ring, Detail</h3>
                        </div>
                    </article>
                </div>
                <div class="row showcase-thumb-strip zoom">
                    <article class="col-md-12 col-md-push-1">
                        <img alt="Natalie Macellaio - Balloon Ring" class="img-responsive" src="images/kidsrings/kring-05.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Balloon Ring</h3>
                        </div>
                    </article>
                </div>
            </article>
        </div>
    </div>
</section>



