@{ Layout = "~/Views/Shared/_InternalPageLayout.cshtml";
 ViewBag.Title = "Natalie Macellaio | Metal Pods";
}
<section class="page-section" id="pods">
    <div class="container">
        <div class="main-logo-wrap last-page">
            <a href="~/home"> <img alt="Natalie Macellaio - Metal Artist, logo" title="home page" src="~/images/bxslider/prev.png" /></a>
        </div>
        <div class="row">
            <article class="col-md-12 showcase-single-content white-bg">
                <div class="row">
                    <article class="col-md-8 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <p><span>ARCHIVE</span></p>
                                <h1 class="font1 color add-top-quarter"><span>METAL PODS</span></h1>
                                <h5 class="font2 black">2000 - 2003</h5>
                                <h4 class="font1 color">METAL PODS Exhibit</h4>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <h3 class="sub-heading">ARTIST STATEMENT</h3>
                                <p class="dark"></p> </div>
                        </div>
                    </article>
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Metal Pod-Orange" class="img-responsive" src="~/images/metalpods/metalpod-01.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Orange</h3>
                        </div>
                    </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Metal Pod-Orange-side" class="img-responsive" src="~/images/metalpods/metalpod-02.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Orange-side</h3>
                        </div>
                    </article>
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Metal Blue" class="img-responsive" src="~/images/metalpods/metalpod-03.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Blue</h3>
                        </div>
                    </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Metal Pod Exhibit" class="img-responsive" src="~/images/metalpods/metalpod-04.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Pod Exhibit</h3>
                        </div>
                    </article>
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Metal Pod-blue-side" class="img-responsive" src="~/images/metalpods/metalpod-tall-10.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Blue-side</h3>
                        </div>
                    </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Metal Pod-5" class="img-responsive" src="~/images/metalpods/metalpod-tall-05.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Metal Pod - 5</h3>
                        </div>
                    </article>
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Metal Pod-6" class="img-responsive" src="~/images/metalpods/metalpod-tall-06.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Metal Pod - 6</h3>
                        </div>
                    </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio -Metal Pod -7" class="img-responsive" src="~/images/metalpods/metalpod-tall-07.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Metal Pod - 7</h3>
                        </div>
                    </article>
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Metal Pod - 8" class="img-responsive" src="~/images/metalpods/metalpod-tall-08.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Metal Pod - 8</h3>
                        </div>
                    </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Metal Pod - 9" class="img-responsive" src="~/images/metalpods/metalpod-tall-09.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Metal Pod - 9</h3>
                        </div>
                    </article>
                </div>
                
</article>
        </div>
    </div>
</section>



