@{ Layout = "~/Views/Shared/_InternalPageLayout.cshtml";
    ViewBag.Title = "Natalie Macellaio | New Work";
}

<section class="page-section" id="newwork">
     <div class="container">

        <div class="row">
            <article class="col-md-12 showcase-single-content white-bg">
                <div class="row">
                    <article class="col-md-8 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <p class="font5"><span class="color-bg black ">Tell me about the pump!</span></p>
                                <h2 class="black add-top-quarter"><span>Pump</span></h2>
                                <h5 class="font3 black">2015</h5>
                                <h4 class="font5 dark">New Work</h4>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <h3 class="sub-heading">This is the Story</h3>
                                <p class="dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl diam, laoreet quis eros ac, placerat tincidunt neque. Vivamus molestie, nisl eu accumsan elementum, libero neque aliquam nibh, in venenatis velit velit eget nunc. Aliquam non venenatis justo, vitae feugiat urna. Morbi et tempor purus.</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="row">                   
                    <article class="col-md-6 col-md-push-2 showcase-thumb-strip">
                        <img alt="Natalie Macellaio - Pump" title="Pump" class="img-responsive " src="images/newwork/pump.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Pump</h3>
                        </div>
                    </article>
                   </div>
            </article>
        </div>
    </div>
</section>



