@{  Layout = "~/Views/Shared/_InternalPageLayout.cshtml";
    ViewBag.Title = "Natalie Macellaio | The Petite Show";
}
 
<section class="page-section" id="petite">
    <div class="container">
        <div class="row">
            <article class="col-md-12 showcase-single-content white-bg">
                <div class="row">
                    <article class="col-md-8 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <p><span>a collaboration with Jessica Cook</span></p>
                                <h1 class="font1 color add-top-quarter"><span>petite</span></h1>
                                <h5 class="font2 black">2009</h5>
                                <h4 class="font1 color">500X GALLERY, DALLAS, TX</h4>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <h3 class="sub-heading">About The Petite Show</h3>
                                <p class="dark"></p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="row">
                    <div class="single-project-slider-wrap">
                        <ul class="single-project-slider bxslider">
                            <li>
                                <img alt="Petite 1" src="images/petite/petite-01.jpg" />
                            </li>
                            <li>
                                <img alt="Petite 2" src="images/petite/petite-02.jpg" />
                            </li>
                            <li>
                                <img alt="Petite 3" src="images/petite/petite-03.jpg" />
                            </li>
                            <li>
                                <img alt="Petite 4" src="images/petite/petite-04.jpg" />
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>


