@{ Layout = "~/Views/Shared/_InternalPageLayout.cshtml";
    ViewBag.Title = "Natalie Macellaio | Piercing Pieces";
}

<section class="page-section" id="piercingpieces">
     <div class="container">
         <div class="main-logo-wrap last-page">
             <a href="~/home"> <img alt="Natalie Macellaio - Metal Artist, logo" title="home page" src="~/images/bxslider/prev.png" /></a>
         </div>
        <div class="row">
            <article class="col-md-12 showcase-single-content white-bg">
                <div class="row">
                    <article class="col-md-8 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <p><span>Wall installation</span></p>
                                <h1 class="font1 color add-top-quarter"><span>a memory</span></h1>
                                <h5 class="font1 black">2010</h5>
                                <h4 class="font5 color">pierced nickel and silver</h4>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <h3 class="sub-heading">artist statement</h3>
                                <p class="dark"></p></div>
                        </div>
                    </article>
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - a memory 2" class="img-responsive" src="~/images/piercing/piercing-01.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">a memory 2</h3>
                        </div>
                     </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - a memory 6" class="img-responsive" src="~/images/piercing/piercing-02.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black"> a memory 6</h3>
                        </div>
                     </article>
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - a memory 9" class="img-responsive" src="~/images/piercing/piercing-03.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">a memory 9</h3>
                        </div>
                     </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - a memory detail" class="img-responsive" src="~/images/piercing/piercing-04.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">a memory detail</h3>
                        </div>
                     </article>                  
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - a memory detail -1" class="img-responsive" src="~/images/piercing/piercing-05.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">a memory detail -1</h3>
                        </div>
                     </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - a memory detail -2" class="img-responsive" src="~/images/piercing/piercing-06.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">a memory detail -2</h3>
                        </div>
                     </article>
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - a memory full" class="img-responsive" src="~/images/piercing/piercing-07.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">a memory full</h3>
                        </div>
                     </article>
                </div>
            </article>
        </div>
    </div>
</section>



