@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Natalie Macellaio | Scribbles";
}
<div class="mastwrap">
    <section class="page-section" id="scribbles">
        <div class="container">

            <div class="row">
                <article class="col-md-12 showcase-single-content white-bg">
                    <div class="row">
                        <article class="col-md-8 text-left showcase-single-item-wrap white-bg">
                            <div class="showcase-single-item">
                                <div class="showcase-single-item-inner text-left">
                                    <p><span>new work</span></p>
                                    <h1 class="font1 color add-top-quarter"><span>Scribbles Collection</span></h1>
                                    <h5 class="font2 black">2014 - 2015</h5>
                                    <h4 class="font1 color">annodized alunimum and sterling silver</h4>
                                </div>
                            </div>
                        </article>
                        <article class="col-md-4 text-left showcase-single-item-wrap white-bg">
                            <div class="showcase-single-item">
                                <div class="showcase-single-item-inner text-left">
                                    <h3 class="sub-heading">ARTIST STATEMENT</h3>
                                    <p class="dark">Scribble brooches were created in response to watching my 3 year old twins play with crayons and seeing how the crayons made marks on the paper. As a new mother, I am intrigued at how the these kids are learning about the world and how to interact with it. As they are learning I wanted to find a way to remember these moments and carry them with me. The scribble brooches are a way for me to also play with color and make these actions more permanent. The use of anodized aluminum and sterling silver give the work permanence and importance.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="row">
                        <article class="col-md-6 showcase-thumb-strip">
                            <img alt="Natalie Macellaio - Purple Scribble" class="img-responsive" src="../images/scribbles/scrib-01.jpg" />
                            <div class="showcase-thumb-strip-inner">
                                <h3 class="black">Purple Scribble</h3>
                            </div>
                        </article>
                        <article class="col-md-6 showcase-thumb-strip">
                            <img alt="Natalie Macellaio - Yellow and Blue Scribble" class="img-responsive" src="../images/scribbles/scrib-02.jpg" />
                            <div class="showcase-thumb-strip-inner">
                                <h3 class="black">Yellow and Blue Scribble</h3>
                            </div>
                        </article>
                    </div>
                    <div class="row">
                        <article class="col-md-6 showcase-thumb-strip">
                            <img alt="Natalie Macellaio - Blues Scribble" class="img-responsive" src="../images/scribbles/scrib-03.jpg" />
                            <div class="showcase-thumb-strip-inner">
                                <h3 class="black">Blues Scribble</h3>
                            </div>
                        </article>
                        <article class="col-md-6 showcase-thumb-strip">
                            <img alt="Natalie Macellaio - Navy Orange Scribble - front" class="img-responsive" src="../images/scribbles/scrib-08.jpg" />
                            <div class="showcase-thumb-strip-inner">
                                <h3 class="black">Navy Orange Scribble - front</h3>
                            </div>
                        </article>
                    </div>
                    <div class="row">
                        <article class="col-md-6 showcase-thumb-strip">
                            <img alt="Natalie Macellaio - Turq Purple Scribble - front" class="img-responsive" src="../images/scribbles/scrib-04.jpg" />
                            <div class="showcase-thumb-strip-inner">
                                <h3 class="black">Turq Purple Scribble - front</h3>
                            </div>
                        </article>
                        <article class="col-md-6 showcase-thumb-strip">
                            <img alt="Natalie Macellaio - Turq Purple Scribble - back" class="img-responsive" src="../images/scribbles/scrib-05.jpg" />
                            <div class="showcase-thumb-strip-inner">
                                <h3 class="black">Turq Purple Scribble - back</h3>
                            </div>
                        </article>
                    </div>
                    <div class="row">
                        <article class="col-md-6 showcase-thumb-strip">
                            <img alt="Natalie Macellaio - Orange Purple Scribble - front" class="img-responsive" src="../images/scribbles/scrib-06.jpg" />
                            <div class="showcase-thumb-strip-inner">
                                <h3 class="black">Orange Purple Scribble - front</h3>
                            </div>
                        </article>

                        <article class="col-md-6 showcase-thumb-strip">
                            <img alt="Natalie Macellaio - Orange Purple Scribble - back" class="img-responsive" src="../images/scribbles/scrib-07.jpg" />
                            <div class="showcase-thumb-strip-inner">
                                <h3 class="black">Orange Purple Scribble - back</h3>
                            </div>
                        </article>
                    </div>
                    <div class="row">
                        <article class="col-md-6 showcase-thumb-strip">
                            <img alt="Natalie Macellaio - Yellow Purple Scribble - front" class="img-responsive" src="../images/scribbles/scrib-09.jpg" />
                            <div class="showcase-thumb-strip-inner">
                                <h3 class="black">Yellow Purple Scribble - front</h3>
                            </div>
                        </article>

                    </div>
                </article>
            </div>
        </div>
    </section>
</div>
