@{Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Natalie Macellaio | SHOP";
}
<div class="mastwrap">
    <section class="page-section" id="shop">
        <div class="container pad-bottom">
            <div class="row">
                <article class="col-md-12 showcase-single-content white-bg">
                    <div class="row">
                        <div class="col-md-6 text-left showcase-single-item-wrap white-bg">
                            <div class=" showcase-single-item">
                                <div class="showcase-single-item-inner text-left">
                                    <p><span>online shopping</span></p>
                                    <h1 class="font1 color add-top-quarter"><span>wearable sculpture</span></h1>
                                    <h5 class="font2 black">available for purchase</h5>
                                    <p><span class="font1 color">scribble brooches </span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 text-left showcase-single-item-wrap white-bg">
                            <div class="showcase-single-item">
                                <div class="showcase-single-item-inner text-left">
                                    <h3 class="sub-heading">ARTIST STory</h3>
                                    <p class="dark">Scribble brooches were created in response to watching my 3 year old twins play with crayons and seeing how the crayons made marks on the paper. As a new mother, I am intrigued at how the these kids are learning about the world and how to interact with it. As they are learning I wanted to find a way to remember these moments and carry them with me. The scribble brooches are a way for me to also play with color and make these actions more permanent. The use of anodized aluminum and sterling silver give the work permanence and importance.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row shop showcase-thumb-strip">
                        <div class="col-md-4">
                            <div class="showcase-thumb-strip-inner">
                                <img alt="Natalie Macellaio - Purple Scribble Square 2" class="img-responsive" src="../images/scribbles/scrib-13.jpg" />
                                <h3 class="black">Purple Scribble Square 2</h3>
                                <h4> annodized alunimum and sterling silver</h4>
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="black h3">$325</div>
                                    </div>
                                    <div class="col-xs-7">
                                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                            <input type="hidden" name="cmd" value="_s-xclick">
                                            <input type="hidden" name="hosted_button_id" value="WZ4RJ7E8ZKP2G">
                                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="showcase-thumb-strip-inner">
                                <img alt="Natalie Macellaio - Orange Scribble with Square" class="img-responsive" src="../images/scribbles/scrib-11.jpg" />
                                <h3 class="black">Orange Scribble with Square</h3>
                                <h4> annodized alunimum and sterling silver</h4>
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="black h3">$325</div>
                                    </div>
                                    <div class="col-xs-7">
                                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                            <input type="hidden" name="cmd" value="_s-xclick">
                                            <input type="hidden" name="hosted_button_id" value="89EPW23M63DXS">
                                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="showcase-thumb-strip-inner">
                                <img alt="Natalie Macellaio - Blue Scribble with Square" class="img-responsive" src="../images/scribbles/scrib-10.jpg" />
                                <h3 class="black">Blue Scribble with Square</h3>
                                <h4> annodized alunimum and sterling silver</h4>
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="black h3">$325</div>
                                    </div>
                                    <div class="col-xs-7">
                                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                            <input type="hidden" name="cmd" value="_s-xclick">
                                            <input type="hidden" name="hosted_button_id" value="LXMNTU2JAAZJC">
                                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center text-uppercase">
                        <h3 class="pay-opts">payment options</h3>
                        <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppppcmcvdam.png" alt="Credit Card Badges">
                    </div>
                </article>
            </div>
        </div>
    </section>
</div>
<script src="https://www.paypal.com/sdk/js?client-id=AfBAfbxiJryf2ZsxXOiVC2VxY7BAFounuKpYMOKrYKJZRSZ33g0eq02nINXfEZmfLqZ1QRIdi8V66POt"></script>
       <script>
            paypal.Buttons().render('.paypal-button-container');
 </script>
