@{  Layout = "~/Views/Shared/_InternalPageLayout.cshtml";
    ViewBag.Title = "Natalie Macellaio | The Merger";
}
 
<section class="page-section" id="merger">
    <div class="container">
        <div class="main-logo-wrap last-page">
        <a href="~/home"> <img alt="Natalie Macellaio - Metal Artist, logo" title="home page" src="~/images/bxslider/prev.png" /></a>
    </div>
        <div class="row">
            <article class="col-md-12 showcase-single-content white-bg">
                <div class="row">
                    <article class="col-md-6 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <p><span>a collaboration with Jeff Ross</span></p>
                                <h1 class="font1 color add-top-quarter"><span>The Merger</span></h1>
                                <h5 class="font2 black">2010</h5>
                                <h4 class="font1 color">500X GALLERY, DALLAS, TX</h4>
                            </div>
                        </div>                   
                    </article>
                    <article class="col-md-6 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <h3 class="sub-heading">ARTIST STATEMENT</h3>
                                <p class="dark">Nostalgia is a funny thing, we long to hold onto to memories through the objects that surround us. When one or two people share an experience, they want to cherish it with tangible objects. The Merger is the story of 2 lives coming together and finding ways to share past experiences with present ones. Some of these items have long histories, some have funny antidotes, and some where just picked up or created along the way. Jeff Ross and I decided to honor these objects and our merging lives with this piece in hopes to create new stories and memories to hold on to. </p>
                            </div>
                        </div>
                    </article>
                 </div>
                    <div class="row">
                        <div class="single-project-slider-wrap">
                            <ul class="single-project-slider bxslider">
                                <li><img alt="The Merger 1" src="images/merger/merger-01.jpg" /></li>
                                <li><img alt="The Merger 2" src="images/merger/merger-02.jpg" /> </li>
                                <li><img alt="The Merger 3" src="images/merger/merger-03.jpg" /> </li>
                                <li><img alt="The Merger 4" src="images/merger/merger-04.jpg" /> </li>
                            </ul>
                        </div>
                    </div>
            </article>
        </div>
    </div>
</section>


