@charset "UTF-8";

/*
-----------------------------------------------
Spry Demos CSS Rules
Version:  12 Apr 2006 (0.2b)
----------------------------------------------- */
body {
	margin: 0;
	padding: 0;
	/*color: #5c5951;*/
	color: #364252;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small; 
	font-size: small; /*for compliant browsers */
	background-color: #dfe0da;
		background-color: #364252;
	/*background-image:url(images/gradgrey.jpg);*/
	background-repeat:repeat-x;
	}
html>body {
	font-size: small;
	padding-top: 5px;
} /* be nice to Opera */

/* Links
----------------------------------------------- */
a img { border-style: none; }

/* Paragraph Headings
----------------------------------------------- */
h1, h2, h3, h4, h5, h6 {font-weight: normal; }
h1 {
	font-size: 2em;
	text-align: left;
	color: #5c5951;
	line-height: 0.5em;
}
h2 {
	font-size: 90%;
	text-align: left;
	color: #d9dcdd;
	line-height: 2em;
}
h3 {
	font-size: 90%;
	text-align: left;
	color: #d9dcdd;
	line-height: 2.2em;
	padding-left: 50px;
}
p {
	margin:0 3em;
	font-size: 100%;
	padding: 10px;
	text-align: left;
}

/* Layout Rules
-------------------------- */
#wrap {
	margin: 10px auto 0 auto;
	width: 1050px;
	padding-right: 20px;
	height: auto;
}
#wraphome {
	margin: 10px auto 0 auto;
	width: 1050px;
	/*padding-right: 20px;*/
	height: auto;
}
#codesample #wrap { width: auto; }

#nav {
	margin-bottom: 10px;
	padding: 0 0 0 20px;
	text-align: right;
	width: 1000px;
	height: 46px;
	overflow: hidden;
/*	background-color: #b3b1b4;*/
}
#navhome {
	margin-bottom: 0px;
	padding: 0 0 0 20px;
	text-align: center;
	width: 1040px;
	height: 50px;
	overflow: visible;
	display: inline;
	/*overflow: hidden;*/
	/*background-color: #b3b1b4;*/
	/*position:absolute;
	left:7px;
	top:6px;*/
}

.SpryHiddenRegion {
   visibility: hidden;
}

/* Form Elements
----------------------------------------------- */
label, select {
	font-size: 100%;
	font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
}
select {
	color: #FFFFFF;
	background-color:  #669999;
	border: 1px solid #b1b1bc;
}


/* Gallery and Playback Controls
----------------------------------------------- */
#gallerySelect {
	width: 180px;
}
#galleries {
	margin:0 auto 10px auto;
	width: auto;
	height: auto;
}
#galleries label { padding-bottom: 2px; }

#galleryLinks a {
	color: #FFFFFF;
	text-decoration: none;
}
 #galleries span{
	padding:7px;
	font-size:110%;
	color:#ffffff;
	font-weight: bold;
}
   #galleries span.active{
	color:#5c5951;
	padding:7px;
}
.pick {
	cursor: pointer;
}
#items {

}
#artist {
	padding: 20px 20px 20px 20px;
	width: 520px;
	height: 100%;
	overflow: hidden;
	float: left;
	background-color: #FFFBF2;
}
#bowltalk {
	padding: 20px 20px 20px 20px;
	width: 430px;
	height: 100%;
	float: right;
	overflow: hidden;
	border: solid #c94c23 4px;
	margin: 0;
	margin-top: 40px;
}
#controls {
	margin:0 auto 10px auto;
	height: 25px;
}
#transport {
	font-size:0.9em;
	color: #fff;
	margin: 0;
	padding: 0 0 0 20px;
	list-style: none;
	
}
#transport li {
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
	color:#ffffff;
}
#transport a {
	color: #ffffff;
	text-decoration: none;
	text-transform: lowercase;
	font-size: 80%;
	letter-spacing: 0.1em;
	margin: 0;
	padding: 4px 5px;
	width: 60px;
	float: left;
	display: block;
	-moz-user-select: none;
	-khtml-user-select: none;
}
#transport a:link {
	color: #ffffff;
}
#transport a:hover {
	/*background: #d9dcdd;*/
	color: #5c5951;
}
#transport a:focus {
	-moz-user-select: none;
	-khtml-user-select: none;
}
#transport .playBtn .pauseLabel, #transport .pauseBtn .playLabel {
	display: none;
}

#previews {
	/*border: solid 1px #d9dcdd;*/
	padding: 6px;
	width: 240px;
	float: right;
	margin-right: 2px;
	clear: both;
}
#previews a {
	font-size: 1em;
	padding:3px;
	text-decoration:none;
	color: #F0F0F0;
}
#previews a:hover {
	color: #8C8E9F;
	}
#thumbnails {
	clear: both;
	margin: 0 auto;
}
#thumbnails div {
	position: relative;
	width: 50px;
	height: 50px;
	float: left;
	margin: 5px;
	padding: 0;
	float: left;
	display:inline;
}
#thumbnails img {
	width: 50px;
	height: 50px;
	position: absolute;
	border: solid 1px #ffffff;
}
a {
	font-size: 1.1em;
	color:#ffffff;
	padding:0px 25px 0 0;
	text-decoration:none;
	vertical-align: top;
}
a:link {
	text-decoration:none;
	color:#ffffff;
}
a:hover {
	color: #8c8e9f;
	}
#picture {
	padding: 0 10px 0 7px;
	width: 772px;
	float: left;
	height: auto;
	background-color: #fffffc;
}
#picture img {

}
#mainImageOutline {
	margin: 0 auto;
	padding: 0;
	background-color: #dfe0da;
	overflow: hidden;
	width: 0px;
	height: 0px;
}
#mainImage {
	width: 100%;
	height: 100%;
}

.selectedThumbnail {
	border: solid 3px #5c5951 !important;
}
.inFocus {  border: solid 1px #b3b4b1 !important; }

/* Spry Validation Widgets Demo*/
#MovieList{
  height: 600px;
  overflow: auto;
}

#content, #sidebar {
	float: left;
	text-align: left;
}
#content {
	width: 600px;
	margin-right: 15px;
	padding-top: 5px;
}
#sidebar {
	width: 240px;
	margin-top: 0;
}
.clear {
	visibility: hidden;
	display: block;
	clear: both;
	height: 0px;
	margin: 0;
	padding: 0;
	}
.ClearAll {
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
}

code { color: #000; }
pre { font-size: small; color: #000; }

.highlightedcode {background-color: #ff9;}

.sample {
	background: #eee;
	padding: 20px;
	border: 2px solid #666;
	margin-top: 20px;
	overflow: scroll;
}

/* Home Page Classes
----------------------------------------------- */
.screen {
	background-color: #bbb;
	border-top: solid 1px #999;
	border-bottom: solid 1px #3a3a3a;
	border-left: solid 1px #3a3a3a;
	border-right: solid 1px #3a3a3a;
	margin: 5px 5px 5px 0;
	padding: 1em 1em 0.5em 1em;
	float: left;
	display: block;
	text-decoration: none;
}
.screen:hover {
	background-color: #fff;
	color: #000;
	border-top: solid 1px #999;
	border-right: solid 1px #404040;
	border-bottom: solid 1px #3a3a3a;
	border-left: solid 1px #404040;
	text-decoration: none;
}
.imgcaption {
	font-size: 90%;
	font-weight: bold;
	margin: 0em 0 1em 0;
	line-height: 1.1em;
	color: #333333;
	border: none;
	text-decoration: none;
}

.floatleft {
	margin: 0.5em;
	float: left;
	padding-right: 0.5em;
}
.floatright {
	margin: 0.5em;
	float: right;
	padding-left: 0.5em;
}
