@{ Layout = "~/Views/Shared/_InternalPageLayout.cshtml";
 ViewBag.Title = "Natalie Macellaio | Resin Pushing Metal";
}
<section class="page-section" id="bump">
    <div class="container">
        <div class="main-logo-wrap last-page">
            <a href="~/home"> <img alt="Natalie Macellaio - Metal Artist, logo" title="home page" src="~/images/bxslider/prev.png" /></a>
        </div>
        <div class="row">
            <article class="col-md-12 showcase-single-content white-bg">
                <div class="row">
                    <article class="col-md-6 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <p><span>BUMP, BULGE, BOILING OVER, CRACK, ROACH STUDY</span></p>
                                <h1 class="font1 color add-top-quarter"><span>RESIN PUSHING METAL</span></h1>
                                <h5 class="font2 black">2006 - 2009</h5>
                                <h4 class="font1 color">RESIN AND METAL</h4>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-6 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <h3 class="sub-heading">ARTIST STATEMENT</h3>
                                <p class="dark">In this series of works I am interested in exploring the relationship between the physical properties of resin and metal. I am interested in the plasticity of metal as it responds to the resin visually is in direct contrast to the actual properties of the materials. The rigidity of the metal also forces the resin to form around, bulging through and sometimes spilling over the forms to emphasis the contrasting materials. The push and pull of materials continues to interest me and push the properties of both materials to their limits.
                                </p> 
                            </div>
                        </div>
                    </article>
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Bump-4" class="img-responsive" src="images/bump/bump-01.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Bump-4</h3>
                        </div>
                    </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Bump-2" class="img-responsive" src="images/bump/bump-02.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Bump-2</h3>
                        </div>
                    </article>
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Bump-side" class="img-responsive" src="images/bump/bump-03.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Bump-side</h3>
                        </div>
                    </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Bulge - copper, resin 12x50x3" class="img-responsive custom-overlay-6" src="images/bulge/bulge-01.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Bulge -copper, resin 12x50x3</h3>
                        </div>
                    </article>
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Bulge-detail" class="img-responsive" src="images/bulge/bulge-02.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Bulge -detail</h3>
                        </div>
                    </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Bulge-crawl" class="img-responsive" src="images/bulge/bulge-03.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Bulge -crawl</h3>
                        </div>
                    </article>
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Boiling Over, nickel, resin 12x12" class="img-responsive" src="~/images/boilingover/boil-01.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Boiling Over, nickel, resin 12x12</h3>
                        </div>
                    </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Boiling Over, nickel, resin 12x12" class="img-responsive" src="~/images/boilingover/boil-02.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Boiling Over, detail 1</h3>
                        </div>
                    </article>
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Boiling Over, nickel, resin 12x12" class="img-responsive" src="~/images/boilingover/boil-03.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Boiling Over, detail 2</h3>
                        </div>
                    </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Brood-silver, resin" class="img-responsive" src="images/crack/crack-01.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Crack, metal resin</h3>
                        </div>
                    </article>
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Brood-silver, resin" class="img-responsive" src="images/crack/crack-01.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Crack, metal resin</h3>
                        </div>
                    </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Brood-silver, resin" class="img-responsive" src="images/crack/crack-02.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Crack, metal resin detail</h3>
                        </div>
                    </article>
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Brood-silver, resin" class="img-responsive" src="images/crack/crack-03.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Crack, metal resin detail2</h3>
                        </div>
                    </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Roach Study, metal resin" class="img-responsive" src="images/roachstudy/roach-01.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Roach Study, metal resin</h3>
                        </div>
                    </article>
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Roach Study, metal resin detail" class="img-responsive" src="images/roachstudy/roach-02.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Roach Study, metal resin detail</h3>
                        </div>
                    </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Roach Study, metal resin detail2" class="img-responsive" src="images/roachstudy/roach-03.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Roach Study, metal resin detail2</h3>
                        </div>
                    </article>                
                </div>
</article>
        </div>
    </div>
</section>



