@{ Layout = "~/Views/Shared/_InternalPageLayout.cshtml";
    ViewBag.Title = "Natalie Macellaio | Phenomenon";
}

<section class="page-section" id="occupancy">
    <div class="container">
        <div class="row">
            <article class="col-md-12 showcase-single-content white-bg">
                <div class="row">
                    <article class="col-md-8 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <p><span>phenomenon</span></p>
                                <h1 class="font1 color add-top-quarter"><span>APT 710 - WALKING LIGHT</span></h1>
                                <h5 class="font2 black">2009</h5>
                                <h4 class="font1 color">NICKLE, SILVER, POWDER CASTING</h4>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <h3 class="sub-heading">ARTIST STATEMENT</h3>
                                <p class="dark"></p>
                             </div>
                        </div>
                    </article>
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Occupancy -1" class="img-responsive" src="images/occupy/occupancy-04.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Occupancy -1</h3>
                        </div>
                    </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Occupancy -2" class="img-responsive" src="images/occupy/occupancy-01.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Occupancy -2</h3>
                        </div>
                    </article>
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Occupancy -3" class="img-responsive" src="images/occupy/occupancy-02.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Occupancy -3</h3>
                        </div>
                    </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Occupancy -4" class="img-responsive" src="images/occupy/occupancy-03.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Occupancy -4</h3>
                        </div>
                    </article>
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Occupancy -5" class="img-responsive" src="images/occupy/occupancy-05.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Occupancy -5</h3>
                        </div>
                    </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Occupancy -6" class="img-responsive" src="images/occupy/occupancy-06.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Occupancy -6</h3>
                        </div>
                    </article>
                    
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Occupancy -7" class="img-responsive" src="images/occupy/occupancy-07.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Occupancy -7</h3>
                        </div>
                    </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Occupancy -8" class="img-responsive" src="images/occupy/occupancy-08.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Occupancy -8</h3>
                        </div>
                    </article>
                    
                </div>
            </article>
        </div>
    </div>
</section>



