@{ Layout = "~/Views/Shared/_InternalPageLayout.cshtml";
    ViewBag.Title = "Natalie Macellaio | Resin Balls";
}

<section class="page-section" id="resinballs">
    <div class="container">
        <div class="main-logo-wrap last-page">
            <a href="~/home"> <img alt="Natalie Macellaio - Metal Artist, logo" title="home page" src="~/images/bxslider/prev.png" /></a>
        </div>
        <div class="row">
            <article class="col-md-12 showcase-single-content white-bg">
                <div class="row">
                    <article class="col-md-8 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <p><span>Resin</span></p>
                                <h1 class="font1 color add-top-quarter"><span>B.S. - RED DOT - SWARM</span></h1>
                                <h5 class="font2 black">2005 - 2009</h5>
                                <h4 class="font1 color">RESIN AND METAL</h4>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <h3 class="sub-heading">ARTIST STATEMENT</h3>
                                <p class="dark"></p>
                            </div>
                        </div>
                    </article>

                </div>

                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - B.S. 1.236 Silver, Resin" class="img-responsive" src="~/images/resinballs/resinballs-01.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">B.S. 1.236 Silver, Resin</h3>
                        </div>
                    </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - B.S. 1.236l detail" class="img-responsive" src="~/images/resinballs/resinballs-02.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">B.S. 1.236 detail</h3>
                        </div>
                    </article>
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - B.S. 1.236 full" class="img-responsive" src="~/images/resinballs/resinballs-03.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">B.S. 1.236 full</h3>
                        </div>
                    </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Red Dot - detail" class=" img-responsive" src="~/images/resinballs/resinballs-10.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Red Dot - detail</h3>
                        </div>
                    </article>
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Red Dot - full" class="img-responsive" src="~/images/resinballs/resinballs-08.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Red Dot - full</h3>
                        </div>
                    </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Red Dot - detail cluster" class="img-responsive" src="~/images/resinballs/resinballs-09.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Red Dot - detail cluster</h3>
                        </div>
                    </article>
                </div>
                 <div class="row showcase-thumb-strip">
                     <article class="col-md-6">
                         <img alt="Natalie Macellaio - Swarm Revisited - detail" class="img-responsive" src="~/images/resinballs/resinballs-06.jpg" />
                         <div class="showcase-thumb-strip-inner">
                             <h3 class="black">Swarm Revisited - detail</h3>
                         </div>
                     </article>
                     <article class="col-md-6">
                         <img alt="Natalie Macellaio - Swarm Revisited - full" class="img-responsive" src="~/images/resinballs/resinballs-07.jpg" />
                         <div class="showcase-thumb-strip-inner">
                             <h3 class="black">Swarm Revisited - full</h3>
                         </div>
                     </article>
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - B.S. 1.236 full" class="img-responsive" src="~/images/resinballs/resinballs-03.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">B.S. 1.236 full</h3>
                        </div>
                    </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Swarm Revisited - side" class=" img-responsive" src="~/images/resinballs/resinballs-04.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Swarm Revisited - side</h3>
                        </div>
                    </article>
                </div>
            </article>
        </div>
    </div>
</section>



