@{  Layout = "~/Views/Shared/_InternalPageLayout.cshtml";
    ViewBag.Title = "Natalie Macellaio | Scribbles";
}

<section class="page-section" id="scribbles">
     <div class="container">
         <div class="main-logo-wrap last-page">
             <a href="~/home"> <img alt="Natalie Macellaio - Metal Artist, logo" title="home page" src="~/images/bxslider/prev.png" /></a>
         </div>
        <div class="row">
            <article class="col-md-12 showcase-single-content white-bg">
                <div class="row">
                    <article class="col-md-8 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <p><span>new work</span></p>
                                <h1 class="font1 color add-top-quarter"><span>Scribbles Collection</span></h1>
                                <h5 class="font2 black">2014 - 2015</h5>
                                <h4 class="font1 color">annodized alunimum and sterling silver</h4>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <h3 class="sub-heading">artist statement</h3>
                                <p class="dark"></p>
                              </div>
                        </div>
                    </article>
                </div>
                <div class="row">
                    <article class="col-md-6 showcase-thumb-strip">
                        <img alt="Natalie Macellaio - Purple Scribble" class="img-responsive" src="../images/scribbles/scrib-01.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Purple Scribble</h3>
                        </div>
                    </article>
                    <article class="col-md-6 showcase-thumb-strip">
                        <img alt="Natalie Macellaio - Yellow and Blue Scribble" class="img-responsive" src="../images/scribbles/scrib-02.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Yellow and Blue Scribble</h3>
                        </div>
                    </article>
                </div>
                <div class="row">
                    <article class="col-md-6 showcase-thumb-strip">
                        <img alt="Natalie Macellaio - Blues Scribble" class="img-responsive" src="../images/scribbles/scrib-03.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Blues Scribble</h3>
                        </div>
                    </article>
                    <article class="col-md-6 showcase-thumb-strip">
                        <img alt="Natalie Macellaio - Navy Orange Scribble - front" class="img-responsive" src="../images/scribbles/scrib-08.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Navy Orange Scribble - front</h3>
                        </div>
                    </article>
                </div>
                <div class="row">
                    <article class="col-md-6 showcase-thumb-strip">
                        <img alt="Natalie Macellaio - Turq Purple Scribble - front" class="img-responsive" src="../images/scribbles/scrib-04.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Turq Purple Scribble - front</h3>
                        </div>
                    </article>
                    <article class="col-md-6 showcase-thumb-strip">
                        <img alt="Natalie Macellaio - Turq Purple Scribble - back" class="img-responsive" src="../images/scribbles/scrib-05.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Turq Purple Scribble - back</h3>
                        </div>
                    </article>
                </div>
                <div class="row">
                    <article class="col-md-6 showcase-thumb-strip">
                        <img alt="Natalie Macellaio - Orange Purple Scribble - front" class="img-responsive" src="../images/scribbles/scrib-06.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Orange Purple Scribble - front</h3>
                        </div>
                    </article>

                    <article class="col-md-6 showcase-thumb-strip">
                        <img alt="Natalie Macellaio - Orange Purple Scribble - back" class="img-responsive" src="../images/scribbles/scrib-07.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Orange Purple Scribble - back</h3>
                        </div>
                    </article>
                </div>
                <div class="row">
                    <article class="col-md-6 showcase-thumb-strip">
                        <img alt="Natalie Macellaio - Yellow Purple Scribble - front" class="img-responsive" src="../images/scribbles/scrib-09.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Yellow Purple Scribble - front</h3>
                        </div>
                    </article>
                    
                </div>
            </article>
        </div>
    </div>
</section>

