@{ Layout = "~/Views/Shared/_InternalPageLayout.cshtml";
    ViewBag.Title = "Natalie Macellaio | Shifting";
}

<section class="page-section" id="Shifting">
    <div class="container">
        <div class="main-logo-wrap last-page">
            <a href="~/home"> <img alt="Natalie Macellaio - Metal Artist, logo" title="home page" src="~/images/bxslider/prev.png" /></a>
        </div>
        <div class="row">
            <article class="col-md-12 showcase-single-content white-bg">
                <div class="row">
                    <article class="col-md-8 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <p><span>Shifting Exhibition</span></p>
                                <h1 class="font1 color add-top-quarter"><span>Shifting</span></h1>
                                <h5 class="font2 black">2010</h5>
                                <h4 class="font1 color">STERLING SILVER, NICKEL SILVER,  MIXED MEDIA</h4>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <h3 class="sub-heading">ARTIST STATEMENT</h3>
                                <p class="dark"> While the cracks in the concrete on the street or in my apartment or on a tombstone are the source of inspiration, I am hoping that by bringing them deliberately to the fore by “crafting the crack”, I am making a statement about the most overlooked source of beauty in humanity...our flaws.
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Silver Cracks in metal -1" class="img-responsive" src="~/images/cracks/cracks-14.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Silver Cracks in Metal -1</h3>
                        </div>
                    </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Silver Cracks in metal -2" class="img-responsive" src="~/images/cracks/cracks-16.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Silver Cracks in Metal -2</h3>
                        </div>
                    </article>
                </div>
                <div class="row showcase-thumb-strip">
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Metal Shifting -1" class="img-responsive" src="~/images/cracks/cracks-01.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Metal Shifting -1</h3>
                        </div>
                    </article>
                    <article class="col-md-6">
                        <img alt="Natalie Macellaio - Silver Cracks in metal -2" class="img-responsive" src="~/images/cracks/cracks-02.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Metal Shifting -2</h3>
                        </div>
                    </article>
                </div>
                <div class="row">
                    <article class="col-md-6 showcase-thumb-strip">
                        <img alt="Natalie Macellaio - Metal Shifting -4 posts" class="img-responsive" src="~/images/cracks/cracks-03.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Metal Shifting - 4 posts</h3>
                        </div>
                    </article>
                    <article class="col-md-6 showcase-thumb-strip">
                        <img alt="Natalie Macellaio - Shifting - Ouch -1" class="img-responsive" src="~/images/cracks/cracks-05.jpg" />
                        <div class="showcase-thumb-strip-inner">                           
                            <h3 class="black">Shifting -1</h3>
                        </div>
                    </article>
                </div>
                <div class="row">
                    <article class="col-md-6 showcase-thumb-strip">
                        <img alt="Natalie Macellaio - Shifting - Ouch -2" class="img-responsive" src="~/images/cracks/cracks-04.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Shifting -2</h3>
                        </div>
                    </article>
                    <article class="col-md-6 showcase-thumb-strip">
                        <img alt="Natalie Macellaio - Shifting - Metal Block" class="img-responsive" src="~/images/cracks/cracks-06.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Shifting - Metal Block</h3>
                        </div>
                    </article>
                </div>
                <div class="row">
                    <article class="col-md-6 showcase-thumb-strip">
                        <img alt="Natalie Macellaio - Running Trail" class="img-responsive" src="~/images/cracks/cracks-07.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Running Trail</h3>
                        </div>
                    </article>
                    <article class="col-md-6 showcase-thumb-strip">
                        <img alt="Natalie Macellaio - Courtyard" class="img-responsive" src="~/images/cracks/cracks-11.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Shifting - Courtyard</h3>
                        </div>
                    </article>
                </div>
                <div class="row">
                    <article class="col-md-6 showcase-thumb-strip">
                        <img alt="Natalie Macellaio - Shifting - Ouch -2" class="img-responsive" src="~/images/cracks/cracks-12.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Shifting  Hinge</h3>
                        </div>
                    </article>
                    <article class="col-md-6 showcase-thumb-strip">
                        <img alt="Natalie Macellaio - Shifting - Metal Block" class="img-responsive" src="~/images/cracks/cracks-13.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Shifting - Stones</h3>
                        </div>
                    </article>
                </div>
                <div class="row">
                    <article class="col-md-6 showcase-thumb-strip">
                        <img alt="Natalie Macellaio - Metal in Wall -1" class="img-responsive" src="~/images/cracks/cracks-10.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Shifting  Metal in Wall -1</h3>
                        </div>
                    </article>
                    <article class="col-md-6 showcase-thumb-strip">
                        <img alt="Natalie Macellaio - Shifting - Metal in Wall -2" class="img-responsive" src="~/images/cracks/cracks-09.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Shifting - Metal in Wall -2</h3>
                        </div>
                    </article>
                </div>
                <div class="row">
                    <article class="col-md-6 showcase-thumb-strip">
                        <img alt="Natalie Macellaio - Shifting - Metal on wall" class="img-responsive" src="~/images/cracks/cracks-18.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Shifting  - Metal on Wall</h3>
                        </div>
                    </article>
                    <article class="col-md-6 showcase-thumb-strip">
                        <img alt="Natalie Macellaio - Shifting - Metal on Wall -2" class="img-responsive" src="~/images/cracks/cracks-17.jpg" />
                        <div class="showcase-thumb-strip-inner">
                            <h3 class="black">Shifting - Metal on Wall -2</h3>
                        </div>
                    </article>
                </div>

            </article>
        </div>
    </div>
</section>



