@{  Layout = "~/Views/Shared/_InternalPageLayout.cshtml";
    ViewBag.Title = "Natalie Macellaio | The Motherload Project";
}
 
<section class="page-section" id="motherload">
     <div class="container">
         <div class="main-logo-wrap last-page">
             <a href="~/home"> <img alt="Natalie Macellaio - Metal Artist, logo" title="home page" src="~/images/bxslider/prev.png" /></a>
         </div>
        <div class="row">
            <article class="col-md-12 showcase-single-content white-bg">
                <div class="row">
                    <article class="col-md-8 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <p><span>a network of professional artists<br /> who are also mothers</span> </p>
                                <h1 class="font1 color add-top-quarter"><span>The Mother Load Project</span></h1>
                                <h5 class="font2 black"><a href="http://www.themotherload.org/" target="_blank">www.themotherload.org</a></h5>
                                <h4 class="font1 color">Co-created by artists and mothers <br /> Lesli Robertson and Natalie Macellaio</h4>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <h3 class="sub-heading">About The Motherload</h3>
                                <p class="dark"></p></div>
                        </div>
                    </article>
                </div>
                <div class="row">
                    <div class="single-project-slider-wrap">
                        <!-- single-project-slider : starts -->
                        <ul class="single-project-slider bxslider">
                            <li>
                                <img alt="DMA Exhibit - Motherload 1" title="" src="images/motherload/motherload-01.jpg" />
                            </li>
                            <li>
                                <img alt="DMA Exhibit - Motherload 2" title="" src="images/motherload/motherload-02.jpg" />
                            </li>
                            <li>
                                <img alt="DMA Exhibit - Motherload 3" title="" src="images/motherload/motherload-03.jpg" />
                            </li>
                            <li>
                                <img alt="DMA Exhibit - Motherload 4" title="" src="images/motherload/motherload-04.jpg" />
                           </li>
                            <li>
                                <img alt="DMA Exhibit - Motherload 5" title="" src="images/motherload/motherload-05.jpg" />

                            </li>
                        </ul>
                        <!-- single-project-slider : ends -->
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>


