@{  Layout = "~/Views/Shared/_InternalPageLayout.cshtml";
  ViewBag.Title = "Natalie Macellaio | Trestle Designs";
}

<section class="page-section" id="trestle">
    <div class="container">
        <div class="main-logo-wrap last-page">
            <a href="~/home"> <img alt="Natalie Macellaio - Metal Artist, logo" title="home page" src="~/images/bxslider/prev.png" /></a>
        </div>
        <div class="row">
            <article class="col-md-12 showcase-single-content white-bg">
                <div class="row">
                    <article class="col-md-8 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <p><span>Co-owned by Leslie Robertson and Natalie Macellaio</span></p>
                                <h1 class="font1 color add-top-quarter"><span>Trestle Designs</span></h1>
                                <h5 class="font2 black">2014 - present</h5>
                                <h4 class="font1 color">Cement, silver, Weaving Jewlery - Plano, TX</h4>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <h3 class="sub-heading">About Trestle Designs</h3>
                                <p class="dark"></p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="row">
                    <div class="single-project-slider-wrap">
                        <ul class="single-project-slider bxslider">
                            <li>
                                <img alt="Trestle Jewelry 1" src="images/trestle/trestle-01.jpg" />
                            </li>
                            <li>
                                <img alt="Trestle Jewelry 2" src="images/trestle/trestle-02.jpg" />
                            </li>
                            <li>
                                <img alt="Trestle Jewelry 3" src="images/trestle/trestle-03.jpg" />
                            </li>
                            <li>
                                <img alt="Trestle Jewelry 4" src="images/trestle/trestle-04.jpg" />
                            </li>
                            <li>
                                <img alt="Trestle Jewelry 5" src="images/trestle/trestle-05.jpg" />
                            </li>
                            <li>
                                <img alt="Trestle Jewelry 6" src="images/trestle/trestle-06.jpg" />
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>


