@{  Layout = "~/Views/Shared/_InternalPageLayout.cshtml";
    ViewBag.Title = "Natalie Macellaio | Wannabe";
}
 
<section class="page-section" id="wannabe">
     <div class="container">
         <div class="main-logo-wrap last-page">
             <a href="~/home"> <img alt="Natalie Macellaio - Metal Artist, logo" title="home page" src="~/images/bxslider/prev.png" /></a>
         </div>
        <div class="row">
            <article class="col-md-12 showcase-single-content white-bg">
                <div class="row">
                    <article class="col-md-8 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <p><span>a collaboration with Matt Clark</span></p>
                                <h1 class="font1 color add-top-quarter"><span>wannabe</span></h1>
                                <h5 class="font2 black">2008</h5>
                                <h4 class="font1 color">500X GALLERY, DALLAS, TX</h4>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-4 text-left showcase-single-item-wrap white-bg">
                        <div class="showcase-single-item">
                            <div class="showcase-single-item-inner text-left">
                                <h3 class="sub-heading">About Wannabee</h3>
                                <p class="dark"></p></div>
                        </div>
                    </article>
                </div>
                <div class="row">
                    <div class="single-project-slider-wrap">
                        <ul class="single-project-slider bxslider">
                            <li>
                                <img alt="Wannabe 1" src="images/wannabe/wannabe-01.jpg" />
                            </li>
                            <li>
                                <img alt="Wannabe 2" src="images/wannabe/wannabe-02.jpg" />
                            </li>
                            <li>
                                <img alt="Wannabe 3" src="images/wannabe/wannabe-03.jpg" />
                            </li>
                            <li>
                                <img alt="Wannabe 4" src="images/wannabe/wannabe-04.jpg" />
                            </li>
                            <li>
                                <img alt="Wannabe 5" src="images/wannabe/wannabe-05.jpg" />
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>


